body {
  font-family: Rubik, sans-serif;
}

.container {
  width: 75%;
  max-width: 600px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 9px;
  box-shadow: 3px 3px 6px #3331312d;
}

h1.initial {
  padding-bottom: 0.5rem;
  background:
    linear-gradient(to right, rgb(76, 94, 142), rgb(76, 94, 142)),
    linear-gradient(to right, rgb(162, 92, 149), rgb(222, 98, 105), rgb(218, 144, 40));
  background-size: 0 0.1em, 100% 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

section {
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

#banner-pingPong {
  width: 100%;
  height: 12rem;
  margin: 0 auto;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

p {
  padding: 0;
}

/* PLAYER SCORES TEXT */
.playerScoreText {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

.playerScoreSpan {
  font-weight: bold;
}

#playerOneScore {
  color: #2D427A;
}

#playerTwoScore {
  color: #d47d02;
}

/* DROPDOWN SCORE SELECTION */
#playToSelector {
  margin: 0;
  padding: 2px 8px;
  border: 1.5px solid rgba(0, 0, 0, 0.692);
  border-radius: 16px;
  font-size: 0.8rem;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

#playToSelector:hover {
  background-color: #e4e4e4;
}

#playToSelector {
  margin-left: 4px;
}

/* BUTTONS */
.container-buttons {
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-buttons button {
  width: 32%;
  height: 2.8rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.1px;
  border: none;
  border-radius: 4px;
  background-color: #B02625;
  color: #fff;
  opacity: 0.85;
  cursor: pointer;
  transition: all 0.1s linear 0s;
  text-align: center;
}

.playerButtons {
  border: 2px solid red;
}

#button-playerOne-score {
  background-color: #2D427A;
}

#button-playerTwo-score {
  background-color: #d47d02;
}

.playerButtons::before {
  content: "+1";
  font-size: 1rem;
  margin-right: 0.5rem;
}

.playerButtons:hover::before {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 0.3rem;
}

.container-buttons button:hover {
  opacity: 1;
}

/* WINNER STYLES */
.player-1-wins-container {
  box-shadow: 0 0 6px 0 #2D427A;
  border: 2px solid #2D427A;
}
.player-1-wins-title {
  color: #2D427A;
}

.player-2-wins-container {
  box-shadow: 0 0 6px 0 #d47d02;
  border: 2px solid #d47d02;
}
.player-2-wins-title {
  color: #d47d02;
}
